@charset "UTF-8";
/* this is for header part  */
.banaer_image {
    width: 140px;
    height: 70px;
}

#menuitem1,
#menuitem2,
#menuitem3,
#menuitem4,
#menuitem5,
#menuitem6{
    font-family: "Roboto";
}
.main-container-admin{
     height: 100vh;
  background-image: radial-gradient(#2196f3, #f44336);
    background-size: cover;
}

/* this is for body part  */